<ion-content [fullscreen]="true">
  <div class="logo-top">
    <img src="assets/images/smile.png" alt="">
  </div>
  <div class="image-centre">
    <img src="assets/images/home.png" alt="">
  </div>
  <ion-row>
    <ion-text color="dark" class="welcome-text">
      <h1>Découvrez les tenues parfaites pour votre style unique chez <span>SMILE SHOP</span> .</h1>
      <p>Votre référence en ligne pour la mode féminine!👗👙👠</p>
    </ion-text>
    <ion-button fill="none" class="ion-no-padding" (click)="goToHome()">
      <h3>Commencer</h3>
    </ion-button>
    <ion-text class="btn-compte">
      <p>Avez vous un compte?</p>
      <a>Se connecter</a>
    </ion-text>
  </ion-row>

</ion-content>