<ion-tabs>

  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <!-- <ion-icon name="home-outline"></ion-icon> -->
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorie" href="/tabs/categorie">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
      <ion-label>Categorie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="panier" href="/tabs/panier">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>