<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>Detail article</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div > -->
  <!-- <img src="assets/images/image-1.jpg" alt=""> -->
  <swiper-container class="img-detail" [slidesPerView]="1" [speed]="400">
    <swiper-slide>
      <img src="assets/images/image-1.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/image-1.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/image-1.jpg" alt="">
    </swiper-slide>
  </swiper-container>

  <!-- </div> -->
</ion-content>