[home-header] {
  padding: 20px;
  .search-content {
    --background: #e0e0e094;
    border-radius: 30px;
    width: calc(100% - 50px);
  }
  .icon-notification {
    position: absolute;
    right: 20px;
    top: 25px;
  }
}
.grid-content{
  margin-top: 40px;
  padding: 20px;
  .head-content{
    position: relative;
    background: #ffab00;
    height: 160px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 15px;
  }
  h4 {
    font-size: 1.6rem;
    color: #ffff;
    margin: 0;
  }
  img {
    position: absolute;
    bottom: 0;
    width: 270px;
    right: 0;
  }
}
