<ion-header [translucent]="true" home-header>
  <ion-item class="search-content" lines="none">
    <ion-icon name="search-outline" slot="start" class="search-content-icon_search"></ion-icon>
    <ion-input placeholder="Rechercher"></ion-input>
  </ion-item>
  <ion-icon name="notifications-outline" size="large" class="icon-notification" color="primary"></ion-icon>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="grid-content">
    <div class="head-content">
      <h4>Nouveautés</h4>
      <img src="assets/images/imgShop.png" alt="">
    </div>
  </ion-grid>
  <ion-grid class="grid-slide">

  </ion-grid>
</ion-content>