[home-header] {
  padding: 20px;
  .search-content {
    --background: #e0e0e094;
    border-radius: 30px;
    width: calc(100% - 50px);
  }
  .icon-notification {
    position: absolute;
    right: 20px;
    top: 25px;
  }
}
.grid-content{
  margin-top: 40px;
  padding: 10px;
  .head-content{
    position: relative;
    background: #ffab00;
    color: #fff;
    height: 160px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 15px;
  }
  h4 {
    font-size: 1.2rem;
    color: #ffff;
    margin: 0;
  }
  img {
    position: absolute;
    bottom: 0;
    width: 270px;
    right: 0;
  }
}
.category {
  padding: 10px 15px;
  .category-slide {
    border: 2px solid #ef1919cc;
    width: 100px;
    height: 90px;
  }
  ion-item {
    --background: #cccccc3e;
    border-radius: 15px;
    ion-icon{
      font-size: 2.6rem;
      margin-right: 4px;
      margin-left: 8px;
      padding: 3px;
      border-radius: 10px;
      color: #fff;
    }
    ion-label {
      margin-left: 4px;
      h5 {
        margin-top: 5px;
        font-size: 0.8rem;
        font-weight: 400;
      }
      p {
        font-size: 14px;
      }
    }
    .man {
      background: #1392b5;
    }
    .woman {
      background: #ffab00;
    }
    .child {
      background: #54a60d;
    }
  }
}
.populaire-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  .populaire-left{
    text-align: start;
    p {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
  .populaire-right {
    text-align: right;
  p {
    color: #ffab00;
    text-decoration: underline;
  }
  }
}

.populaire-card {
  padding: 10px 10px;
  ion-card {
    position: relative;
    height: 250px;
    margin: 0;
  }

  ion-card-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  ion-card-content {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0;
  }

  .content {
    display: flex;
    width: 90%;
    margin: auto;
    background: rgba(255, 255, 255, 0.77);
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding-left: 5px;
    border-radius: 5px;
    overflow: hidden;
  }

  ion-label h4,
  ion-label p {
    font-weight: 700;
    color: #062e99;
  }

  ion-button {
    margin: 0;
    height: 100%;
    background-color:  #0b29794e;;
  }
}