<ion-header [translucent]="true" home-header>
  <ion-item class="search-content" lines="none">
    <ion-icon name="search-outline" slot="start" class="search-content-icon_search"></ion-icon>
    <ion-input placeholder="Rechercher"></ion-input>
  </ion-item>
  <ion-icon name="notifications-outline" size="large" class="icon-notification" color="primary"></ion-icon>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="grid-content">
    <div class="head-content">
      <h4>Nouveautés!!</h4>
      <img src="assets/images/imgShop.png" alt="">
    </div>
  </ion-grid>
  <ion-grid class="category">
    <swiper-container [slidesPerView]="2.2" [spaceBetween]="20" [speed]="400">
      <swiper-slide>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon slot="start" class="man" name="man-outline"></ion-icon>
          <ion-label class="ion-no-margin">
            <h5>Homme</h5>
            <p>+ de 100</p>
          </ion-label>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon slot="start" class="woman" name="woman-outline"></ion-icon>
          <ion-label class="ion-no-margin">
            <h5>Femmes</h5>
            <p>+ de 100</p>
          </ion-label>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon slot="start" class="child" name="walk-outline"></ion-icon>
          <ion-label class="ion-no-margin">
            <h5>Enfants</h5>
            <p>+ de 100</p>
          </ion-label>
        </ion-item>
      </swiper-slide>
    </swiper-container>
  </ion-grid>
  <!-- Les plus populaires  -->
  <ion-row class="populaire-row">
    <ion-col size="8" class="populaire-left">
      <ion-text>
        <p>Les plus populaires </p>
      </ion-text>
    </ion-col>
    <ion-col size="4" class="populaire-right">
      <ion-text>
        <p>Tout voir</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-grid class="populaire-card">
    <swiper-container [slidesPerView]="1.85" [spaceBetween]="20" [speed]="400">
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-1.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit femme</h4>
                <p>4 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-2.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit femme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-3.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Femme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-4.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>40 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-5.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-6.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>140 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-grid>
  <!-- Les plus vendus  -->
  <ion-row class="populaire-row">
    <ion-col size="8" class="populaire-left">
      <ion-text>
        <p>Les plus vendus </p>
      </ion-text>
    </ion-col>
    <ion-col size="4" class="populaire-right">
      <ion-text>
        <p>Tout voir</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-grid class="populaire-card">
    <swiper-container [slidesPerView]="1.85" [spaceBetween]="20" [speed]="400">
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-1.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit femme</h4>
                <p>4 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-2.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit femme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-3.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Femme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-4.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>40 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-5.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-6.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>140 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-grid>
  <!-- Tendances pour Hommes  -->
  <ion-row class="populaire-row">
    <ion-col size="8" class="populaire-left">
      <ion-text>
        <p>Tendances Hommes</p>
      </ion-text>
    </ion-col>
    <ion-col size="4" class="populaire-right">
      <ion-text>
        <p>Tout voir</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-grid class="populaire-card">
    <swiper-container [slidesPerView]="1.85" [spaceBetween]="20" [speed]="400">
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-1.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit femme</h4>
                <p>4 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-2.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit femme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-3.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Femme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-4.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>40 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-5.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-6.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>140 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-grid>
  <!-- Tendances pour Femmes  -->
  <ion-row class="populaire-row">
    <ion-col size="8" class="populaire-left">
      <ion-text>
        <p>Tendances Femmes</p>
      </ion-text>
    </ion-col>
    <ion-col size="4" class="populaire-right">
      <ion-text>
        <p>Tout voir</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-grid class="populaire-card">
    <swiper-container [slidesPerView]="1.85" [spaceBetween]="20" [speed]="400">
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-1.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit femme</h4>
                <p>4 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-2.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit femme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-3.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Femme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-4.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>40 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-5.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>14 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <img src="assets/images/image-6.jpg" alt="">
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <ion-label>
                <h4>Habit Homme</h4>
                <p>140 000 FCFA</p>
              </ion-label>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-grid>

</ion-content>