[home-header] {
  padding: 20px;
  .search-content {
    --background: #e0e0e094;
    border-radius: 30px;
    width: calc(100% - 50px);
  }
  .icon-notification {
    position: absolute;
    right: 20px;
    top: 25px;
  }
}
.grid-content{
  margin-top: 40px;
  padding: 20px;
  .head-content{
    position: relative;
    background: #ffab00;
    color: #fff;
    height: 160px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 15px;
  }
  h4 {
    font-size: 1.6rem;
    color: #ffff;
    margin: 0;
  }
  img {
    position: absolute;
    bottom: 0;
    width: 270px;
    right: 0;
  }
}
.category {
  padding: 10px 15px;
  .category-slide {
    border: 2px solid #ef1919cc;
    width: 100px;
    height: 90px;
  }
  ion-item {
    --background: #cccccc3e;
    border-radius: 15px;
    ion-icon{
      font-size: 2.6rem;
      margin-right: 4px;
      margin-left: 8px;
      padding: 3px;
      border-radius: 10px;
      color: #fff;
    }
    ion-label {
      margin-left: 4px;
      h5 {
        margin-top: 5px;
        font-size: 1.1rem;
        font-weight: 400;
      }
      p {
        font-size: 14px;
      }
    }
    .man {
      background: #1392b5;
    }
    .woman {
      background: #ffab00;
    }
    .child {
      background: #54a60d;
    }
  }
}

